<a href="{% url 'UserDashboard' %}" class="active d-flex border-bottom">
    <span class="icon1 mr-3"><i class="icon icon-user"></i></span> Profile
</a>
<a href="{% url 'UserEdit' %}" class="d-flex border-bottom">
    <span class="icon1 mr-3"><i class="icon icon-user"></i></span> Edit Profile
</a>
<a href="{% url 'UserAds' %}" class=" d-flex  border-bottom">
    <span class="icon1 mr-3"><i class="icon icon-diamond"></i></span> My Ads
</a>
<a href="#" class="d-flex">
    <span class="icon1 mr-3"><i class="icon icon-power"></i></span> Logout
</a>