<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/property.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1>{{title}}</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">{{title}}</li>
                    </ol>
                </div>
                <!-- Search bar -->

                <!-- Search bar End -->
            </div>
        </div>
    </div>
</section>