{% extends 'layouts/base.html' %}

{% block carousel_block %}
{% load static %}
<link href="{% static "search/css/main.css" %}" rel="stylesheet" />
   <!--Breadcrumb-->
	<section>
		<div class="container">
            <div class="row" style="margin-top: 7%;margin-left: 5px;">
                <div class="btn-group btn-breadcrumb">
                    <a href="#" class="btn btn-danger" style="background-color:#ec1f27;"><i class="glyphicon glyphicon-home"></i></a>
                    <a href="{% url 'home' %}" class="btn btn-success">Home</a>
                    <a href="#" class="btn btn-default">About Us</a>
                </div>
            </div>
        </div>
	</section>
	<!--/Breadcrumb-->
{% endblock %}
{% block body_block %}
     <!--Section-->
    <section class="sptb" style="background-color:white;margin-top:7px;">
        <div class="container">
            <div class="row">
                <div class="text-justify col-lg-8 col-md-8">
                    <h2 class="mb-4 ">{{get_about.title}}</h2>
                    <h4 class="leading-normal">{{get_about.sub_title}}</h4>
                    <p class="leading-normal">{{get_about.description}}</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="product-filter-desc">
                        <div class="product-filter-icons text-center">
                            <img src="/{{get_about.image}}" alt="img" class="cover-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Section-->
    <!--Section-->
    <!--/Section-->
{% endblock %}

<!--section-->
<section>
    <div class="cover-image sptb bg-background-color" data-image-src="../assets/images/banners/banner4.jpg">
        <div class="content-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h2 class="mb-2 display-5">Are you ready for the posting you ads on this Site?</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <div class="mt-5">
                        <a href="ad-posts.html" class="btn btn-primary  btn-lg">Free Property Ad</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/section-->

<!--section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Why Choose Us?</h2>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row ">
            <div class="col-md-6 col-lg-4 features">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="feature">
                            <div class="fa-stack fa-lg  fea-icon bg-success  mb-3">
                                <i class="fa fa-university  text-white"></i>
                            </div>
                            <h3>Bank Loan Facility</h3>
                            <p>our being able to do what we like best, every pleasure is to be welcomed and every
                                pain.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="feature">
                            <div class="fa-stack fa-lg  fea-icon bg-primary mb-3">
                                <i class="fa fa-pencil-square-o  text-white"></i>
                            </div>
                            <h3>Spot Registration</h3>
                            <p>our being able to do what we like best, every pleasure is to be welcomed and every
                                pain.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="feature">
                            <div class="fa-stack fa-lg  fea-icon bg-secondary mb-3">
                                <i class="fa fa-handshake-o  text-white"></i>
                            </div>
                            <h3>Investment Consulting</h3>
                            <p>our being able to do what we like best, every pleasure is to be welcomed and every
                                pain.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-lg-0">
                    <div class="card-body text-center">
                        <div class="feature">
                            <div class="fa-stack fa-lg  fea-icon bg-warning mb-3">
                                <i class="fa fa-cubes   text-white"></i>
                            </div>
                            <h3>Construction Services</h3>
                            <p>our being able to do what we like best, every pleasure is to be welcomed and every
                                pain.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-lg-0 mb-md-0">
                    <div class="card-body text-center">
                        <div class="feature">
                            <div class="fa-stack fa-lg  fea-icon bg-danger mb-3">
                                <i class="fa fa-cogs   text-white"></i>
                            </div>
                            <h3>Personalized Service</h3>
                            <p>our being able to do what we like best, every pleasure is to be welcomed and every
                                pain.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-0">
                    <div class="card-body text-center">
                        <div class="feature">
                            <div class="fa-stack fa-lg  fea-icon bg-info mb-3">
                                <i class="fa fa-flask  text-white"></i>
                            </div>
                            <h3>Property Maintenance</h3>
                            <p>our being able to do what we like best, every pleasure is to be welcomed and every
                                pain.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/section-->

<!--Section-->
<section>
    <div class="about-1 cover-image sptb bg-background-color" data-image-src="../assets/images/banners/banner5.jpg">
        <div class="content-text mb-0 text-white info">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status md-mb-0">
                            <div class="counter-icon text-danger">
                                <i class="icon icon-people"></i>
                            </div>
                            <h5>Total Agents</h5>
                            <h2 class="counter mb-0 font-weight-bold">893</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status-1 md-mb-0">
                            <div class="counter-icon text-warning">
                                <i class="icon icon-rocket"></i>
                            </div>
                            <h5>Total Sales</h5>
                            <h2 class="counter mb-0 font-weight-bold">1765</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status md-mb-0">
                            <div class="counter-icon text-primary">
                                <i class="icon icon-docs"></i>
                            </div>
                            <h5>Total Projects</h5>
                            <h2 class="counter mb-0 font-weight-bold">846</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status">
                            <div class="counter-icon text-success">
                                <i class="icon icon-emotsmile"></i>
                            </div>
                            <h5>Happy Customers</h5>
                            <h2 class="counter font-weight-bold">7253</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<!--section-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Our Team</h2>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="card mb-xl-0">
                    <div class="card-body">
                        <div class="team-section text-center">
                            <div class="team-img">
                                <img src="../assets/images/faces/male/1.jpg" class="img-thumbnail rounded-circle alt="
                                     alt="">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text mt-4">Tracey Poole</h4>
                            <h6 class="text-muted mb-3">RealEstate Agent</h6>
                            <p class="font-weight-normal dark-grey-text">
                                <i class="fa fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
                            <div class="text-warning">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card mb-xl-0">
                    <div class="card-body">
                        <div class="team-section text-center">
                            <div class="team-img">
                                <img src="../assets/images/faces/female/1.jpg" class="img-thumbnail rounded-circle alt="
                                     alt="">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text mt-4">Harry Walker</h4>
                            <h6 class="text-muted mb-3">RealEstate Builder</h6>
                            <p class="font-weight-normal dark-grey-text">
                                <i class="fa fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum
                                exercitationem ullam quis nostrum corporis suscipit laboriosam, nisi ut aliquid commodi.
                            </p>
                            <div class="text-warning">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="team-section text-center">
                            <div class="team-img">
                                <img src="../assets/images/faces/male/2.jpg" class="img-thumbnail rounded-circle alt="
                                     alt="">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text mt-4">Paul White</h4>
                            <h6 class="text-muted mb-3">RealEstate Owner</h6>
                            <p class="font-weight-normal dark-grey-text">
                                <i class="fa fa-quote-left pr-2"></i>Laxury Home For Sale odio dignissimos ducimus qui
                                blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                            <div class="text-warning">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/section-->

{% block advertisement %}
	{% include 'frontend/advertisement_block.html' %}
{% endblock %}
