<!doctype html>
<html lang="en">

	<head>

		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Reallist- Bootstrap Responsive Real estate Classifieds, Dealer, Rentel, Builder and Agent Multipurpose HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html template, real estate websites, real estate html template, property websites, premium html templates, real estate company website, bootstrap real estate template, real estate marketplace html template, listing website template, property listing html template, real estate bootstrap template, real estate html5 template, real estate listing template, property template, property dealer website"/>

		<!-- Favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- Title -->
		<title>Reallist- Bootstrap Responsive Real estate Classifieds, Dealer, Rentel, Builder and Agent Multipurpose HTML Template</title>

		<!-- Bootstrap Css -->
		<link href="../assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Style css -->
		<link href="../assets/css/style.css" rel="stylesheet" />

		<!-- Font-awesome  Css -->
		<link href="../assets/css/icons.css" rel="stylesheet"/>

		<!--Horizontal Menu-->
		<link href="../assets/plugins/horizontal-menu/horizontal.css" rel="stylesheet" />

		<!--Select2 Plugin -->
		<link href="../assets/plugins/select2/select2.min.css" rel="stylesheet" />

		<!-- Cookie css -->
		<link href="../assets/plugins/cookie/cookie.css" rel="stylesheet">

		<!-- Countdown css-->
		<link href="../assets/plugins/count-down/flipclock.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Color skin -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/skins/color-skins/color15.css" />

	</head>

	<body class="construction-image">

		<!--Loader-->
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="">
		</div>

		<!--Page-->
		<div class="page page-h">
			<div class="construction">
				<div class="container text-center">
					<div class="row">
						<div class="col-lg-8 col-xl-7 d-block mx-auto ">
							<div class="br-7 p-6 mb-0">
								<h3 class="mb-2 text-center">Under Maintenance</h3>
								<p>Our website is currently undergoing scheduled maintenance. We Should be back shortly. Thank you for your patience.</p>
								<div class="countdown-timer-wrapper">
									<div class="timer" id="countdown"></div>
								</div>
								<div class="input-group-1 justify-content-center d-flex mb-5">
									<input type="text" class="form-control" placeholder="subscribe">
									<div class="input-group-append">
										<button type="button" class="btn btn-primary pl-5 pr-5 ml-3">Subscribe</button>
									</div>
								</div>
								<div class="mt-5">
									<button class="btn btn-icon" type="button">
										<span class="btn-inner--icon">
											<i class="fa fa-facebook-f"></i>
										</span>
									</button>
									<button class="btn btn-icon" type="button">
										<span class="btn-inner--icon">
											<i class="fa fa-google"></i>
										</span>
									</button>
									<button class="btn btn-icon" type="button">
										<span class="btn-inner--icon">
											<i class="fa fa-twitter"></i>
										</span>
									</button>
									<button class="btn btn-icon" type="button">
										<span class="btn-inner--icon">
											<i class="fa fa-pinterest-p"></i>
										</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Page-->

		<!--Back to top -->
		<a href="#top" id="back-to-top" ><i class="fa fa-rocket"></i></a>


		<!-- JQuery js-->
		<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap js -->
		<script src="../assets/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
		<script src="../assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

		<!--JQuery Sparkline Js-->
		<script src="../assets/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Circle Progress Js-->
		<script src="../assets/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating Js-->
		<script src="../assets/plugins/rating/jquery.rating-stars.js"></script>

		<!--Owl Carousel js -->
		<script src="../assets/plugins/owl-carousel/owl.carousel.js"></script>

		<!--Counters -->
		<script src="../assets/plugins/count-down/countdown-timer.js"></script>
		<script src="../assets/plugins/count-down/countdown.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- sticky Js-->
		<script src="../assets//js/sticky.js"></script>

		<!--Select2 js -->
		<script src="../assets/plugins/select2/select2.full.min.js"></script>
		<script src="../assets/js/select2.js"></script>

		<!-- Cookie js -->
		<script src="../assets/plugins/cookie/jquery.ihavecookies.js"></script>
		<script src="../assets/plugins/cookie/cookie.js"></script>

		<!--JQuery TouchSwipe js-->
		<script src="../assets/js/jquery.touchSwipe.min.js"></script>

		<!-- Swipe Js-->
		<script src="../assets/js/swipe.js"></script>

		<!-- Scripts Js-->
		<script src="../assets/js/owl-carousel.js"></script>

		<!-- Custom Js-->
		<script src="../assets/js/custom.js"></script>

	</body>
</html>